* {
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

.video-background {
  background: #000;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -99;
}

.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

@media (min-aspect-ratio: 16/9) {
  .video-foreground { height: 300%; top: -100%; }
}

@media (max-aspect-ratio: 16/9) {
  .video-foreground { width: 300%; left: -100%; }
}

.scene-list:hover {
  cursor: pointer;
}

.soundcloud {
  position: absolute;
  bottom: 30px;
  left: 30px;
}

.soundcloud:hover {
  -webkit-box-shadow: 1px 1px 20px 2px rgba(255,255,255,1);
  -moz-box-shadow: 1px 1px 20px 2px rgba(255,255,255,1);
  box-shadow: 1px 1px 20px 2px rgba(255,255,255,1);
}

.image {
  width: 180px;
  border-radius: 10px;
}

ul {
  list-style: none;
  float: right;
  height: 100%;
  margin-right: 20px;
  display: inline-block;
}

li {
  margin-bottom: 10px;
}

.image:hover {
  -webkit-box-shadow: 1px 1px 20px 2px rgba(255,255,255,1);
  -moz-box-shadow: 1px 1px 20px 2px rgba(255,255,255,1);
  box-shadow: 1px 1px 20px 2px rgba(255,255,255,1);
}

.scene-title {
  margin-left: 20px;
  color: white;
  text-shadow: 1px 1px 10px #ffffff;
}

.welcome {
  font-weight: normal;
  color: white;
  text-shadow: 1px 1px 10px #ffffff;
}

.welcome-h1 {
  font-size: 45px;
  margin-bottom: 0;
}

.welcome-p {
  font-size: 20px;
  margin-top: 0;
}

.breathe {
  font-weight: bold;
}

.welcome-container {
  text-align: center;
  margin-left: 200px;
}


@media only screen and (max-width: 600px) {
  .main-container {
    display: none;
  }

  html {
    background: url(http://i.imgur.com/FiOnfdK.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}